table, td, th.blue_alternating {
  border: 1px solid #0066FF;
  border-collapse: collapse;
}

th.blue_top_row {
  background-color: #0066FF;
}

.white {
  color: #FFFFFF;
}

.blue {
  color: #0066FF;
}

tbody tr:nth-child(odd){
  background-color: #00CCFF;
}

tbody tr:nth-child(even){
  background-color: #FFFFFF;
}

form.adapt_to_above {
  display: inline-block;
}

.center {
  text-align: center;
}

/*
#FFFFFF = white
#0066FF = deep, somewhat dark blue
#00CCFF = light, baby blue
*/
