#background {
  background: url(images/background_image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0px;
  border: 0px solid black;
}

.header_box {
  background-color: rgba(33, 33, 33, 0.5);
  width: 30%;
  height: 20%;
}

.header_box_text {
  color: white;
  font-family: 'Merriweather';
}
